[tool.ruff]
# Exclure les répertoires courants à ignorer
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "._*",
]

# Identique à Black.
line-length = 88
indent-width = 4

target-version = "py39"

[tool.ruff.lint]
# Activer les règles Pyflakes (`F`) et pycodestyle (`E`) par défaut.
# Contrairement à Flake8, Ruff ne permet pas d'activer/désactiver des règles via la ligne de commande
# si elles ne sont pas dans la configuration.
select = ["E4", "E7", "E9", "F", "I", "N", "UP", "B", "A", "C4", "SIM"]
ignore = []

# Autoriser la correction automatique pour toutes les règles activées (si disponible).
fixable = ["ALL"]
unfixable = []

# Autoriser les variables inutilisées préfixées par un underscore.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
# Utiliser des guillemets doubles pour les chaînes.
quote-style = "double"

# Utiliser des espaces pour l'indentation.
indent-style = "space"

# Respecter les virgules de fin (trailing commas).
skip-magic-trailing-comma = false

# Utiliser le style de fin de ligne automatique.
line-ending = "auto"

[tool.mypy]
python_version = "3.9"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = false
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
strict = true
follow_imports = "skip"
exclude = ["site-packages"]

[[tool.mypy.overrides]]
module = "scrapy.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = ["bokeh.*", "streamlit.*"]
follow_imports = "skip"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "pandas.*"
ignore_missing_imports = true

[tool.coverage.run]
omit = [
    "tests/*",
    "run_tests.py",
    "*/site-packages/*",
    "*/dist-packages/*",
]
