._.git
._.vscode
._assets
._docs
._projects
._readme.md
.vscode/._settings.json
assets/._atomicWebScraping.png
assets/._ws.png
docs/blockingScraperBots/antiScrawlingMeasures/._readme.md
docs/blockingScraperBots/honeypot/._readme.md
docs/blockingScraperBots/._antiScrawlingMeasures
docs/blockingScraperBots/._honeypot
docs/blockingScraperBots/._readme.md
docs/bypass/captchaBypass/._readme.md
docs/bypass/cookieSession/._readme.md
docs/bypass/headlessBrowser/._readme.md
docs/bypass/headlessBrowser/._tools
docs/bypass/headlessBrowser/tools/._readme.md
docs/bypass/._captchaBypass
docs/bypass/._cookieSession
docs/bypass/._headlessBrowser
docs/bypass/._headlessBrowsers
docs/bypass/._honeypots
docs/bypass/._ipRotation
docs/bypass/._proxy
docs/bypass/._rateLimiting
docs/bypass/._readme.md
docs/bypass/._userAgents
docs/bypass/._userBehaviorAnalysis
docs/bypass/headlessBrowsers/._readme.md
docs/bypass/honeypots/._readme.md
docs/bypass/ipRotation/._readme.md
docs/bypass/proxy/._readme.md
docs/bypass/rateLimiting/._readme.md
docs/bypass/userAgents/._readme.md
docs/bypass/userBehaviorAnalysis/._readme.md
docs/scraping/._concepts
docs/scraping/._error
docs/scraping/._readme.md
docs/scraping/._useCases
docs/scraping/concepts/._readme.md
docs/scraping/error/._readme.md
docs/scraping/useCases/._readme.md
docs/._blockingScraperBots
docs/._bypass
docs/._readme.md
docs/._scraping
docs/._scrapy
docs/._spider
docs/scrapy/._readme.md
docs/spider/._readme.md
projects/._books2scrape
projects/books2scrape/._books2scrape
projects/books2scrape/._readme.md
projects/books2scrape/._scrapy.cfg
projects/books2scrape/books2scrape/.___init__.py
projects/books2scrape/books2scrape/.___pycache__
projects/books2scrape/books2scrape/._items.py
projects/books2scrape/books2scrape/._middlewares.py
projects/books2scrape/books2scrape/._pipelines.py
projects/books2scrape/books2scrape/._settings.py
projects/books2scrape/books2scrape/._spiders
projects/books2scrape/books2scrape/__pycache__/.___init__.cpython-313.pyc
projects/books2scrape/books2scrape/__pycache__/._settings.cpython-313.pyc
projects/books2scrape/books2scrape/spiders/.___init__.py
projects/books2scrape/books2scrape/spiders/.___pycache__
projects/books2scrape/books2scrape/spiders/._b2s.py
projects/books2scrape/books2scrape/spiders/__pycache__/.___init__.cpython-313.pyc
projects/books2scrape/books2scrape/spiders/__pycache__/._b2s.cpython-313.pyc
projects/books2scrape/books2scrape/spiders/__pycache__/._books2scrape.cpython-313.pyc
